html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: #ffffff;
    margin: 0;
    padding-top: 3.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d50000;
    background-color: transparent;
}

a:hover {
    color: #0091EA;
}

a:active {
	background-color: black;
}

a:visited {
	background-color: blue;
}

h1,
h2,
h3 {
    margin: 0;
    text-align: center;
}

iframe {
    display: inline-block;
    width: 100%;
    height: 480px;
}

blockquote {
    margin: 1rem 0 1rem 0;
    padding: 0 5rem 0 5rem;
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
}

footer {
    text-align: right;
    padding: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) inset;
}

hr {
    overflow: visible;
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#main {
    width: 100%;
}

#tribute-info {
    width: 100%;
    padding: 0 5rem 0 5rem;
}

#headline {
    padding: 3rem 0 2rem 0;
}

#title {
    font-size: 3rem;
}

#description {
    text-align: center;
}

#survey-form {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.form-format {
    width: 90%;
    margin: 2rem auto 2rem auto;
}

.label-control {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.banner-primary {
    padding: 3rem;
    width: 100%;
}

.banner-secondary {
    width: 90%;
    margin: 0 auto 0 auto;
}

.font-title {
    font-family: Verdana, Geneva, sans-serif;
}

.navbar {
    display: flex;
    padding: 0.5rem;
    background-color: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    text-align: left;
    padding-left: 2rem;
}

.navbar-item {
    text-align: -webkit-match-parent;
    font-size: 1.25rem;
    margin-left: 1rem;
}

.navbar-icon {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 2rem;
}

.icon-item {
    padding-left: 1rem;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#img-div {
    width: 100%;
    text-align: center;
}

#img-caption {
    margin-top: .5rem;
    padding: 0 5rem 0 5rem;
}

.menu-article {}

.yt-vid {
    padding: 1rem 0 1rem 0;
}

.txt-quote {
    margin: 3rem 0 3rem 0;
    padding: 0 5rem 0 5rem;
    text-align: center;
}

.fab {
    opacity: 0.7;
}

.fab:hover {
    opacity: 1;
}

.fa-instagram {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background:
        radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.fa-twitter {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background: #38A1F3;
}

.fa-github {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background: #383838;
}

.fa-free-code-camp {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: #ffffff;
    background: #008006;
}